@font-face {
    font-family: 'Figtree';
    src: url(/assets/fonts/Figtree-VariableFont_wght.ttf) format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

:root {
    /* Colors */
    --color-yellow: #F4D04E;
    --color-gray-950: #111111;
    --color-gray-500: #6B6B6B;
    --color-white: #ffffff;

    /* Spacing */
    --space-300: 1.5rem;
    --space-150: 0.75rem;
    --space-100: 0.5rem;
    --space-50: 0.25rem;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Figtree', sans-serif;
    height: 100svh;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: var(--color-yellow);
    color: var(--color-gray-950);
}

/* Typography presets */

.text-preset-1 {
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    line-height: 150%;
    font-weight: 800;
}
.text-preset-2 {
    font-size: clamp(0.875rem, 2vw, 1rem);
    line-height: 150%;
    font-weight: 500;
}
.text-preset-3 {
    font-size: clamp(0.75rem, 1.6vw, 0.875rem);
    line-height: 150%;
    font-weight: 500;
}
.bold {
    font-weight: 800;
}
.interactive-font:hover {
    color: var(--color-yellow);
    cursor: pointer;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    max-width: 24rem;
    display: flex;
    flex-direction: column;
    gap: var(--space-300);
    padding: var(--space-300);
    border: 1px solid var(--color-gray-950);
    border-radius: 1.25rem;
    background-color: var(--color-white);
    box-shadow: 8px 8px var(--color-gray-950);
}
.card__picture {
    max-width: 100%;
    height: auto;
    border-radius: 0.625rem;
}
.card__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-150);
}
.card__category-tag {
    padding: var(--space-50) var(--space-150);
    background-color: var(--color-yellow);
    border-radius: 0.25rem;
}
.description {
    color: var(--color-gray-500);
}

.card__author-info {
    display: flex;
    align-items: center;
    gap: var(--space-150);
}
.userpic {
    width: 2rem;
    height: 2rem;
}

.attribution {
    padding: 1rem;
    text-align: center;
    color: var(--color-gray-500);
}